<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyVatTu.Properties.Settings.QLVTConnectionString"
            connectionString="Data Source=DESKTOP-K1O601Q\SERVERMAIN;Initial Catalog=QLVT;User ID=sa; password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"
						 />
    </startup>
</configuration>